.deletemodal-form {
    width: 220px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #FFFFFF;

}

.delete-comment {
    width: 100%;
}

.delete {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: red;
    font-weight: bold;
    width: 100%;
    margin-bottom: 15px;


}

.cancel {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 100%;
    margin-top: 15px;
}
