.deletemodal-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 350px;
    height: 110px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 4px;
}

.delete-button {
    color: rgb(231, 20, 20);
    cursor: pointer;
}
.cancel-button:hover {
    font-weight: bold;
}

.delete-button:hover {
    font-weight: bold;
}


.cancel-button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor:pointer;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.02);
}
