.deletemodal-form {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 14rem;
    height: 8rem;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.delete-content {
    display: flex;
    flex-direction: column;
}

.delete-button {
    color: rgb(231, 20, 20);
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 16px;

}
.cancel-button:hover {
    font-weight: bold;
}

.delete-button:hover {
    font-weight: bold;
}


.cancel-button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor:pointer;

}
