.edit-form {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20rem;
	height: 10rem;
	border: 1.5px solid lightgray;
	background: white;
	border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.postmodal-caption:focus{
    outline: none;
}


.edit-buttons {
    margin-top: 15px;
	text-align: center;
    height: 20px;

}

.edit-confirm {
    border: 1px solid rgb(235, 235, 235);
    width: 70px;
    background: #0095F6;
    color: white;
    padding: 3px;
}

.edit-confirm:hover {
    background-color: rgb(163, 232, 255);
    cursor: pointer;
}

.edit-cancel-btn {
    border: 1px solid rgb(110, 110, 110);
    cursor: pointer;
    width: 70px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 3px;

}

.edit-cancel-btn:hover {
    color: lightgray;
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.postmodal-caption {
    margin-left: 2rem;
    margin-top: 25px;
    width: 80%;
    height: 50%;
    resize: none;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 6px;

}

.editlogo {
    width: 70px;
	height: 70px;
	display: block;
	margin-left: auto;
	margin-right: auto;
    margin-top: 20px;
}
