.navigation {
    background-color: #ffffff;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.0975);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    z-index:1;
}

.insta-logo {
    width: 135px;
    height: 40px;
    display: flex;
    margin-top: 15px;
    margin-left: -100px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a, li {
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;
}
