.navigation {
    background-color: #ffffff;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.0975);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    z-index:1;

}

.insta-logo {
    width: 165px;;
    height: 46px;
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    padding-left: 25px;
    z-index: 0;

}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    padding-right: 10px;

}

a, li {
    padding-top: 5px;
    padding-right: 5px;
    list-style: none;
    z-index: 0;
}

.logout-button {
    list-style: none;
    height: 36px;
    width: 36px;
    background-size: 100%;
    background-size: 40px auto;
    border-radius: 18px;
    border: 2px solid lightgray;
}

.logout-button:hover, .plus-button:hover {
    cursor: pointer;
}

.plus-button, .home-button {
    border: none;
	padding: 0;
	background: none;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}
