.postmodal-form {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20rem;
	height: 17rem;
	border: 1.5px solid lightgray;
	background: white;
	border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.post-buttons {
	margin-top: 65px;
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .post-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */


.caption-input {
	margin-top: 1rem;
    margin-left: 2rem;
    width: 80%;
    resize: none;
    overflow: scroll
}

.post-confirm {
    background: #0095F6;
    color: white;
    padding: 2px;
	border-radius: 3px;
    margin-top: -2.5rem;
    margin-bottom: 0.5rem;
    border: 2px solid gray;
}
.post-confirm:hover {
    background: #6fc0ee;
    cursor: pointer;
}
.post-cancel {
    background-color: transparent;
    padding: 2px;
	border-radius: 3px;
    border: 2px solid gray;
    background: radial-gradient(circle, rgba(247,247,247,1) 0%, rgb(255, 255, 255) 99%);

}
.post-cancel:hover {
    background: rgba(247, 253, 255, 0.342);
    cursor: pointer;
}

.image-input {
    margin-top: 1rem;
    width: 80%;

}

.post-image {
	height: 100px;
}

.upload-hr {
    opacity: 0.35;
    margin-top: 5px;
    border-color: lightgray;

}

.upload-span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serifGeorgia, Times, 'Times New Roman', serif;
    margin-top: 0.8rem;
    margin-left: 30%;
    height: 1.8rem;
    font-weight: bold;

}
