.body {
    width: 100vw;
    height: 100vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
    /* margin-right: 300px; */
    top: 50%;
    left: 50%;

    border: rgb(202, 202, 202) solid .001px;
    position: fixed;
    transform: translate(-50%, -50%);
}

.post-delete-button:hover {
    color: rgb(255, 158, 158);

}


.post-container, .comments-container {
    flex: 1 1;
    height: 480px;
}


.postid-pic {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.comments-container {
    width: 100px;
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

.comments-header {
    display: flex;
    width: 312px;
    border: 1.5px solid rgb(221, 221, 221);
    height: 50px;
    position: fixed;
    background-color: #FFFFFF;
    padding-right: 4px;
    border-right: none;
    border-left: none;
    border-top: none;
}


.comments-list {
    display: flex;
    padding-inline-start: 14px;
    margin-top: 5;
    margin-bottom: 0;
}

.icon-bar {
    background-color: #FFFFFF;
    display: flex;
    width: 314px;
    border: 1.5px solid rgba(241, 241, 241, 0.568);
    background-color: #FFFFFF;
    overflow: hidden;
    height: 40px;
    top: 87%;
    left: 75%;
    transform: translate(-50%, -50%);
    border-bottom: none;
    position: fixed;

}

.post-heart {
    display: flex;
    margin-left: 5px;
    cursor: pointer;
    color: #FFFFFF;
    stroke: black;
    stroke-width: 40;
    font-size: 20px;
    border: 1.5px solid rgba(241, 241, 241, 0.2);


}

.comment-scroll {
    margin-bottom: 5.5rem;

}


.post-profile-pic {
    width: 25px;
    height: 25px;
    border-radius: 16px;
    float: left;
}

.text-area {
    resize: none;
    overflow: hidden;
}

.comment-form {
    display: flex;
    width: 310px;
    border: 1.5px solid rgba(235, 235, 235, 0.2);
    background-color: #FFFFFF;
    padding-right: 4px;
    padding-top: 8px;
    border-right: none;
    border-left: none;
    margin-bottom: 2px;
    position: fixed;
    left: 75%;
    top: 95.2%;
    transform: translate(-50%, -50%);
}

.user-caption {
    margin-top: 60px;
    font-size: 12px;
    display: flex;
    align-items: center;

}

::-webkit-scrollbar {
    display: none;
  }

.text-box {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 2.2rem;
    border-bottom: none;
    border-top: none;
    background-color: #FFFFFF;
    /* padding-bottom: 8px; */
}

.post-button {
    font-weight: bold;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-right: 6px;
    margin-bottom: 4px;
}
.post-button:hover {
    color: #08A3F1
}


.post-profile-av {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.post-dot-dropdown {
position: absolute;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	right: 0px;
	padding: 10px;
	margin-top: 35px;
	width: 60px;
	height: 55px;
	border-radius: 3px;
	z-index: 100;
	justify-content: center;
	align-items: center;
	border-radius: 0 2px 5px 0 rgba(0, 0, 0, .1);
	text-align: center;
  
    border: 0.5px solid lightgray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
}


.post-dot-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-right: 0px;
}

.comment-dot {
    width: 20px;
    float: right;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.post-comment {
    word-wrap: break-word;
    display: inline-block;
    align-items: center;
    font-size: 12px;
    max-width: 220px;
}

.post-comm {
    word-wrap: break-word;

}


/* .post-user-comment {
    display: flex;
    margin-right: 3px;
    margin-left: 3px;
} */

.caption-span {
    margin-top: 4px;
    margin-left: 10px;

}

.post-user-comment {
    margin-left: 5px;
}

.comment-row2 {
    display: flex;

}

.post-username {
    margin-top: 15px;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
    MARGIN-LEFT: 6PX;
    font-family: Arial;

}

.post-profile-pic {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 12px;
    margin-right: 5px;
}

.post-likes-span {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
