.post-comments {
    display: flex;
    flex-wrap: wrap;
    width: 580px;
    margin: auto;
    margin-top: 120px;
    border: rgb(58, 58, 58) solid .1px;
}


.post-container, .comments-container {
    flex: 1 1 120px;
    height: 433px;

}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}


.postid-pic {
    max-width: 500px;
    height: 450px;
    max-height: 600px;
}

.comments-container {
    width: 200px;
}

.comments-header {
    display: flex;
    width: 100%;
    border: 1.5px solid rgb(221, 221, 221);
    height: 50px;
}

indv-comment {
    float: right;
    display: flex;
    flex-direction: column;
}

.post-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    float: left;
}

.text-area {
    resize: none;
    position: absolute;
    bottom: 0;
}
