.search-form {
    position: absolute;
    right: 0%;
    width: 100%;

}

.search-bar {
    width: 12rem;
    padding-top: 4px;
    border-radius: 4px;
    border: 1.5px solid rgb(195, 195, 195);
    text-align: center;
    height: 1.6rem;
    background-color: #fafafa;
    opacity: 0.6;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.search-bar:focus{
    outline: none;
}

.search-results {
    margin-top: 0.5rem;
    width: 100%;
    max-height: 12rem;
    min-height: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.search-list {
    width: 16rem;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;

}

.searchbar-photo {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 18px;
    border: 2px solid rgb(251, 138, 138);
    padding: 1px;
    margin-left: 0.7rem;

    margin-bottom: 0.2rem;
    margin-right: 0;
}

.search-row {

    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-row:hover {
    background-color: #FAFAFA
}

.search-username {

    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 14px;
    color: rgb(35, 45, 88);
    font-style: Montserrat, arial
}

.search-icon {
    position: absolute;
    margin-top: 0.5rem;
    color: gray;
    margin-left: auto;
    margin-right: 55px;

}

.search-bar-container {
    display: flex;
    flex-direction: row;
    border-bottom-width: 1;
    border-color: #000;
    padding-bottom: 10;
    align-items: center;
    width: 100%;
    justify-content: center;
    z-index: 2;
}

::placeholder {
    color: gray;
}
