.login-form {
	margin: 0;
	padding: 0;
	font-family: montserrat;
	height: 45vh;
	width: 37vh;
	overflow: hidden;
	border-radius: 5px;
	border: 2.5px solid lightgray;
	margin-top: 140px;

}

.login-container {
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	display: flex;
}

.errors {
	padding-bottom: 30px;
    display: block;
    font-size: 14px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 25px;
    text-align: center;
    height: 20px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.logo {
	width: 160px;
	height: 5vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.twophones {
	height: 70vh;
}

input {
	margin: auto;
	display: block;
    margin-top: 5px;

}

.login-button {
    margin: auto;
	display: block;
    margin-top: 10px;
    border-radius: 4px;
    width: 165px;
    height: 25px;
    background-color: #0095F6;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

.login-button:hover {
    cursor: pointer;
}

p {
    font-size: 14px;
    display: block;
	text-align: center;
	margin-right: auto;
    margin-top: 20px;
}

a {
    margin-right: -10px;
}

a:hover {
    cursor: pointer;
}

.profile-dropdown-div {
    position: absolute;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    right: 25px;
    padding: 10px;
    width: auto;
    height: 70px;
    border-radius: 3px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(131, 132, 133)
}

.profile-dropdown__a {
    cursor: pointer;
}

.email-field {
    padding-top: 10px;
}
