.signup-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: montserrat;
	justify-content: center;
}

.signup-button {
	text-align: center;
    display: block;
    margin: 0 auto;
}
