.profile-header {
    margin-top: 80px;
    display: flex;
    margin-left: 120px;
    margin-bottom: 60px;
}

.profile-username {
    font-size: 50px;
    margin-top: 0px;
    /* vertical-align: top; */
    padding-left: 70px;
    height: 40px;

}

.profile-picture {
    margin-left: 120px;
    height: 160px;
    width: 160px;
    border-radius:  90px;

}

.hr-tag {
   
}


.user-details {
    margin-left: 70px;
    vertical-align: top;
    margin-bottom: 20px;
}

.profile-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    place-items: center;
    margin-top: 100px;
    width: 70%;
    margin: 0 auto;
}

.profile-images {
    width: 265px;
    height: 260px;

}

.profile-images:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.bio {
    margin-left: 73px;

}
