body {
    background-color: #FAFAFA;
}

.profile-header {
    position: relative;
    margin-top: 80px;
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
    /* margin-right: 650px; */
    margin-left: 25%;
    margin-right: 75%;
}

.profile-username {
    font-size: 40px;
    margin-top: 0px;
    font-weight: 300;
    color: rgb(68, 68, 68);
    /* padding-left: 70px; */
    height: 40px;

}

.profile-picture {
    margin-left: 120px;
    height: 160px;
    width: 160px;
    border-radius:  90px;

}




.user-details {
    margin-left: 70px;
    vertical-align: top;
    margin-bottom: 20px;
}

.profile-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    place-items: center;
    margin-top: 100px;
    width: 70%;
    margin: 0 auto;
}

.profile-images {
    width: 265px;
    height: 260px;

}

.profile-images:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.bio {
    margin-left: 70px;
}

.edit-profile-button {
    font-weight: bold;
    padding: 5px 6px 5px 6px;
    background-color: #FAFAFA;
    margin-left: 20px;
    border: 1.5px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(88, 88, 88);
    height: 27px;
    width: 90px;
    margin-top: 10.5px;

}
