body {
    background-color: #FAFAFA;
    margin: 0px;
}

.profile-banner {
    width: 850px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;

}

.profile-header {
    position: relative;
    margin-top: 80px;
    display: flex;
    width: 700px;
    margin-bottom: 70px;
    align-items: center;

}


.profile-username {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 12px;
    font-weight: 300;
    color: rgb(68, 68, 68);


}


.profile-picture {
    min-width: 180px;
    max-width: 200px;
    min-height: 180px;
    max-height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 65px;
}


.user-details {
    vertical-align: top;
    margin-bottom: 20px;
}


.profile-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    place-items: center;
    margin-top: 100px;
    width: 850px;
    margin: 0 auto;
}


.profile-images {

    width: 265px;
    height: 265px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.profile-images:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.bio {
    margin: 0 auto;
    width: 100px;
}

.edit-profile-button {
    font-weight: bold;
    padding: 5px 6px 5px 6px;
    background-color: #FAFAFA;
    margin-left: 20px;
    border: 1.5px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(88, 88, 88);
    height: 27px;
    width: 90px;
    margin-top: 10.5px;

}
