* {
	font-family: Arial, Helvetica, sans-serif;
}



.post-list {
    top: 50%;
    left: 50%;
    margin-top: 75px;
}

.indv-photo {
	height: 455px;
	width: 101%;
    margin-left: 0px;
    margin-left: 0px;

}


.indv-post {
	padding-top: 20px;
	border: 1px solid lightgray;
	height: 685px;
	width: 515px;
    /* margin-left: 680px;
    margin-right: 0; */
    position: relative;
    margin-top: 30px;
    border-radius: 3.5px;
}

.indv-comment {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    overflow-y: scroll;
    /* padding-left: 14px; */
    padding-right: 4px;
}


.indv-comment-home {
    font-size: 12px;
    padding-top: 0px;
    display: flex;
    width: 100%;
    word-wrap: break-word;
    overflow-y: scroll;
    padding-right: 4px;
    justify-items: center;
}

.post-header {
	display: flex;
	position: relative;
    width: 100%;
    margin-right: 8px;
    background-color: #FFFFFF;
    margin-bottom: 6px;
}

.post-dropdown {
	border: none;
	padding: 0;
	background: none;
	font-size: 25px;
	margin-left: auto;
}

.post-dropdown:hover {
	cursor: pointer;
}

.dot-dropdown {
	position: absolute;
	background-color: #fafafa;
	display: flex;
	flex-direction: column;
	right: 0px;
	padding: 10px;
	margin-top: 25px;
	width: 60px;
	height: 50px;
	border-radius: 3px;
	z-index: 100;
	justify-content: center;
	align-items: center;
	border: 1.5px solid rgb(131, 132, 133);
	text-align: center;
}

edit-button delete-button {
	text-align: center;
}

edit-button:hover delete-button:hover {
    filter: brightness(50%);
}

.homepage-username {
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
    font-family: Montserrat;
    text-decoration: none;

}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-right: 4px;
    margin-left: 15px;
}

.post-profile-pic {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-left: 15px;
}



.bottom-homepage-username {
    margin-top: 13px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 13px;
    padding-right: 5px;
    margin-bottom: 10px;
    font-family: Arial;
}

.bottom-profile-pic {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 8px;
    margin-right: 5px;
}

.post-caption {
    margin-left: 8px;
    margin-top: 18px;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica
}

.footer-comment {
    bottom: 0;
    margin-bottom: 2px;
    position: absolute;
    width: 90%;

}

.postt-button {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    font-weight: bold;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.postt-button:hover {
    color: #08A3F1
}

.text-box {
    border: none;
    height: 25px;
    background-color: transparent;
    outline: none;
    width: 97%;
    resize: none;
    padding-top: 8px;
    padding-left: 10px;

}

.home-comment-form {
    width: 100%;
}

.post-footer-head {
    display: flex;
    justify-items: center;
}

.viewall {
    display: inline-block;
    width: 100%;
    padding-top: 0;
    font-size: 12px;
    margin-left: 14px;
    padding-bottom: 10px;
}

.shown-comment {
    margin-top: 5px;
    margin-left: 8px;
}

.span-username {
    margin-left: 4px;
    font-weight: bold;
}

.comment-row {
    display: flex;

}
