* {
	font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.post-list {
    top: 50%;
    left: 50%;
    margin-top: 75px;
}
.photo-container {
    height: 480px;
    width: 518px;
}
.indv-photo {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;

}
.indv-post {
    padding: 0;
	border: 1px solid lightgray;
	height: 695px;
	width: 520px;
    position: relative;
    margin-top: 30px;
    border-radius: 3.5px;
}
.indv-comment {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    overflow-y: scroll;
    /* padding-left: 14px; */
    padding-right: 4px;
}
.home-indv-comment {
    font-size: 12px;
    display: flex;
    width: 95%;
    word-wrap: break-word;
    overflow-y: scroll;
    padding-right: 4px;
    justify-items: center;
    align-items: center;
}
.post-header {
	display: flex;
	position: relative;
    width: 100%;
    margin-right: 8px;
    background-color: #FFFFFF;
    margin-bottom: 0px;
    height: 55px;
}
.post-dropdown {
	border: none;
	padding: 0;
	background: none;
	font-size: 22px;
	margin-left: auto;
    margin-right: 10px;
}
.dot-delete-button {
    color: red;
}
.dot-edit-button:hover {
    color: lightgray;
}
.dot-delete-button:hover {
    color: rgb(255, 205, 205);
}
.post-dropdown:hover {
	cursor: pointer;
}
.post-dropdown + .dot-dropdown {
    opacity: 1;
    transform: translateY(0);
}
.dot-dropdown {
	position: absolute;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	right: 0px;
	padding: 10px;
	margin-top: 35px;
	width: 60px;
	height: 55px;
	border-radius: 3px;
	z-index: 100;
	justify-content: center;
	align-items: center;
	border-radius: 0 2px 5px 0 rgba(0, 0, 0, .1);
	text-align: center;
    transform: translateY(-10px);
    border: 0.5px solid lightgray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;

}
edit-button delete-button {
	text-align: center;
    width: 100%;
}

edit-button:hover, delete-button:hover {
    background-color: #fafafa;
}

.homepage-username {
    margin-top: 12px;
    margin-left: 5px;
    font-weight: bold;
    font-family: Montserrat;
    text-decoration: none;

}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 12px;
    margin-right: 4px;
    margin-left: 15px;
}

.home-profile-pic {
    width: 25px;
    height: 25px;
    margin-left: 8px;
    border-radius: 16px;
    float: left;
}

.home-post-profile-pic {
    width: 25px;
    height: 25px;
    margin-left: 14px;
    border-radius: 16px;
    float: left;
}


.home-user-comment {
    display: flex;
    flex-direction: row;
}


.bottom-homepage-username {
    margin-top: 13px;
    margin-left: 14px;
    font-weight: bold;
    font-size: 13px;
    padding-right: 5px;
    font-family: Arial;

}

.bottom-profile-pic {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 8px;
}

.post-caption {
    margin-left: 8px;
    margin-top: 18px;
    font-size: 13px;
    font-family: Montserrat, Helvetica
}

.footer-comment {
    bottom: 0;
    margin-bottom: 2px;
    position: absolute;
    width: 90%;

}

.postt-button {
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
    font-weight: bold;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.postt-button:hover {
    color: #08A3F1
}

.text-box {
    border: none;
    height: 25px;
    background-color: transparent;
    outline: none;
    width: 97%;
    resize: none;
    padding-top: 8px;
    padding-left: 10px;
}

.text-box-home {
     border: none;
     height: 30px;
     background-color: transparent;
     outline: none;
     width: 100%;
     resize: none;
     padding-top: 15px;
     padding-left: 15px;
     margin-bottom: 10px;
}

.home-comment-form {
    width: 100%;

}

.comment-dot {
    width: 40px;
}

.post-footer-head {
    margin-top: 4px;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.viewall {
    display: inline-block;
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: 12px;
    margin-left: 14px;
    padding-bottom: 10px;
}

.shown-comment {
    margin-top: 5px;
    margin-left: 8px;

}

.span-username {
    margin-left: 4px;
    font-weight: bold;
    margin-top: 0px;
    color: rgb(0, 0, 0);
}

.comment-row {
    position: relative;
    margin-left: 8px;
    margin-top: 5px;
    overflow: scroll;
    max-height: 30px;
}


.homepage-heart {
    cursor: pointer;
    color: #FAFAFA;
    stroke: black;
    stroke-width: 40;
    font-size: 22px;
    height: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1.5px solid rgba(241, 241, 241, 0.2);
}

.home-likes-span {
    position: absolute;
    margin-left: 2.5rem;
    font-size: 13px;
    margin-top: 8px;
}
